{{> admin/admin-header }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
{{> admin/admin-topNav}}



<div class="content-wrapper">
   
    {{> admin/messages}}
    
    
    {{{body}}}
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    
    
    
    
{{> admin/admin-footer}}    
</div>
</body>

</html>
