{{> default/header }}

<body>

<!-- Navigation -->
{{> default/top-navigation }}

<!-- Page Content -->
<div class="container">
    {{> default/messages}}

    {{{ body }}}

</div>
<!-- /.container -->
{{> default/footer }}
